/* Global styles */
:root {
    --primary-color: #920c8770;
    --secondary-color: #212529;
    --text-color: #09131d;
    --background-color: #fdfbff;
    --border-radius: 5px;
  }
  
  /* Reset default styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Apply custom styles to specific elements */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Apply styles to header */
  header {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* Apply styles to navigation menu */
  nav {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    background-color: #1d6cd2;
  }
  
  /* Apply styles to main content */
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px rgba(141, 0, 0, 0.589);
    padding: 20px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul, ol {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Apply styles to footer */
  footer {
    background-color: var(--secondary-color);
    color: #00434e;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Apply responsive design */
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
    
    nav ul {
      flex-direction: column;
    }
    
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    main {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }
  